<!DOCTYPE html>
<html lang="en">

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block title %}
                {% if title %}
                    {{ title }} - Salamandrina
                {% else %}
                    Salamandrina
                {% endif %}
            {% endblock %}
        </title>

        <!-- Bootstrap Core CSS -->
        <link href="/static/salaWeb/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/static/salaWeb/css/simple-sidebar.css" rel="stylesheet">

        <!-- App-specific CSS -->
        <!-- <link href="/static/ubq/css/ubq2.css" rel="stylesheet" type="text/css" /> -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- <link rel="icon" href="/static/ubq/images/logo1.svg"> -->
    </head>
{% endblock %}

    <body>
        <div id="wrapper">
            {% block sidebar %}
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                Start Bootstrap
                            </a>
                        </li>
                        <li>
                            <a href="a.html">Aaa</a>
                        </li>
                        <li>
                            <a href="#">Shortcuts</a>
                        </li>
                        <li>
                            <a href="#">Overview</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->
            {% endblock %}

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="/static/salaWeb/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/static/salaWeb/js/bootstrap.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>

        {% block footer %}
        <nav class="navbar navbar-default navbar-fixed-bottom footer-colors" style="height: 80px;">
          <div class="container" align="center">
              <small>
                <img src="/static/salaWeb/images/salamandrina.svg" alt="Logo" height=50px>
                --
                Salamandrina
              </small>
          </div>
        </nav>

        {% endblock %}
    </body>
</html>