{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12" align="center">
                        <img src="/static/salaWeb/images/salamandrina.svg" alt="Logo" width="17%"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Salamandrina</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            A directory for all services and material provided by salamandrina.net.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">
                                <img src="/static/salaWeb/images/salamandrina.svg" alt="Logo" width=5%/>
                                &nbsp;&nbsp;
                                Menu
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <img class="media-object" src="/static/salaWeb/images/salamandrina.jpg" width="90%"/>
            </div>
        </div>
    </div>
{% endblock %}
