{% extends "base.html" %}

{% block content %}
    <h2>
        {{ contents.title }}
    </h2>
    <p>
        {{ contents.subtitle }}
    </p>
    {% for item in contents.itemlist %}
        <hr>
        <div class="row">
            <div class="col-sm-4">
                {% if item.picture %}
                    <a href="{{ item.href }}">
                        <img src="/static/dynamic_contents/{{ item.picture }}" width=50%/>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <b>
                            <a href="{{ item.href }}">
                                {{ item.name }}
                            </a>
                        </b>
                    </div>
                    <div class="col-sm-12">
                        {{ item.description }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
